<h1>Add Events</h1>

<form method = "post">
    <input  name="name" type ="text"/>
    <select>
        <option name=""> Please select Language</option>
        <option id="Eng" name="english">English</option>
        <option id="Arb" name="arabic">Arabic</option>
    </select>
    <input type ="submit" value="Add Event"/>
</form>